<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30" shutdownHook="disable">
    <Properties>
        <Property name="baseLogDir">logs</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] %c{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingRandomAccessFile name="infoAppender" fileName="${baseLogDir}/appInfo.log"
                                 filePattern="${baseLogDir}/appInfo.log.%d{yyyy-MM-dd}.%i.gz">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="500MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${baseLogDir}" maxDepth="1">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="errorAppender" fileName="${baseLogDir}/appError.log"
                                 filePattern="${baseLogDir}/appError.log.%d{yyyy-MM-dd}.%i.gz">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="500MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${baseLogDir}" maxDepth="1">
                    <IfFileName glob="*.gz"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="WARN">
            <AppenderRef ref="console"/>
        </AsyncRoot>

        <AsyncLogger name="priv.light" level="INFO" includeLocation="false" additivity="false">
            <AppenderRef ref="infoAppender"/>
            <AppenderRef ref="errorAppender"/>
        </AsyncLogger>
    </Loggers>
</Configuration>